name: generate animation

on:
  schedule:
    - cron: "0 */24 * * *" 
  workflow_dispatch:
  push:
    branches:
    - main

jobs:
  generate:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    
    steps:
      - name: generate github-contribution-grid-snake.svg
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: rafaeltrindaderodrigues
          outputs: |
            dist/github-contribution-grid-snake.svg?color_snake=#00d2ff&color_dots=#161b22,#b0f2ff,#4fc3f7,#29b6f6,#0288d1
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark&color_snake=#00d2ff&color_dots=#161b22,#392b5a,#5e35b1,#7e57c2,#9575cd
          
      - name: push github-contribution-grid-snake.svg to the output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
